# Goreleaser
dist/
.github/release-notes.md
.github/crds.yaml

# Build
/provider-cloudscale
*.out

# Docs
.cache/
.public/
node_modules/

# kind
.kind/

# Charts
.cr-release-packages/
.cr-index/

# Crossplane package
/package/crossplane.yaml
/package/*.xpkg
